@import "./common/libs/swiper/swiper.min";
@import "./common/libs/swiper/animate.min";
@import "animate.min.css";
* {
    margin: 0;
    padding: 0;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
}
.head-portrait {
    width: 150px;
    height: 150px;
    
    margin-top: 200px;
    margin-left: 170px;
    border-radius: 75px;
}
.head-portrait img {
    width: 150px;
    height: 150px;
      border-radius: 75px;
}
.name {
    font-size: 25px;
    margin-top: 60px;
}
.gif {
    position: absolute;
    top: 80px;
    right: 60px;
}
.age {
    font-size: 25px;
    margin-top: 20px;
    animate-duration: 4s;
    animate-delay: 2s;
    margin-left: -45px;
}
.sex {
    margin-left: -45px;
    font-size: 25px;
    margin-top: 20px;
    animate-duration: 8s;
    animate-delay: 2s;
}
.swiper-slide {
    text-align: center;
    color: #913725;
    font-family: '微软雅黑';
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}
.music {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0px;
    right: 20px;
}
.music img {
    width: 50px;
    height: 50px;
    animation: circle 3s linear infinite;
}
i{
    font-style: normal;
}
@-webkit-keyframes circle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.swiper-slide-1 {
    background: url("../images/pic0.jpg") no-repeat;
    background-size: 100% 100%;
    font-size: 25px;
    color: #923927;
    font-family:"bookshelf symbol 7"
}
.swiper-slide-2 {
    background: url("../images/pic22.jpg") no-repeat;
    background-size: 100% 100%;
    animation: my 5s ease 3s;
    flex-direction: column;
}
.swiper-slide-2 div {
    flex: 1;
    flex-direction: column;
}
.swiper-slide-2 .freedom {
    width: 200px;
    height: 50px;
    font-family: "新宋体";
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 30px;
}
.introduce {
    margin-top: 300px;
    font-family: "微软雅黑";
    font-size: 20px;
    width: 200px;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-weight: bold;
    z-index: 111;
}
.box {
    width: 0;
    height: 0;
    border-bottom: 200px solid rgba(253,80,40,0.4);
    border-left: 400px solid transparent;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    flex: 1;
}
@keyframes my {
    0% {
        background: url("../images/pic2.jpg") no-repeat;
        background-size: 100% 100%;
    }
    50% {
        background: url("../images/pic22.jpg") no-repeat;
        background-size: 100% 100%;
    }
    100% {
        background: url("../images/pic22.jpg") no-repeat;
        background-size: 100% 100%;
    }
}
.swiper-slide-3 {
    background: url("../images/pic3.jpg") no-repeat;
    background-size: 100% 100%;
}
.text1 {
    font-size: 25px;
    color: white;
}
.text2 {
    font-size: 25px;
    color: black;
    font-style: oblique;
    margin-top: 20px;
}
.swiper-slide-4 {
    background: url("../images/pic4.jpg") no-repeat;
    background-size: 100% 100%;
}
.swiper-slide-5{
    background: url("../images/pic5.gif") no-repeat;
    background-size: 100% 100%;
    
}
.slide5 .slide5-1{
    display: flex;
    flex: 1;
   
}
.h5imgs{
    width: 80px;
    height: 80px;
    border-radius:40px ;
   
    margin-top: 20px;
   
   
   
  
    
    background:white;
   text-align: center;
    line-height: 80px;
    color:black;
    font-family: "microsoft yahei";
    font-size:14px;
    font-weight:600;
    
    opacity: 0.1;
    animation-name: breath;                         
    animation-duration: 6s;  
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;          
    -webkit-animation-name: breath; 
    -webkit-animation-duration: 6s; 
    -webkit-animation-timing-function: ease-in-out; 
    -webkit-animation-iteration-count: infinite;

}

@keyframes breath {
    from { opacity: 0.3; }
    50%  { opacity:   0.8; }
    to   { opacity: 0.3; }     
}
 
@-webkit-keyframes breath {
    from { opacity: 0.3; } 
    50%  { opacity:   8; } 
    to   { opacity: 0.3; }
}

.h5text{
    flex: 4;
    color: white;
   margin-top: 50px;
margin-left: 5px;
    align-items: center;
    width: 200px;
   
}
.qq img {
    width: 34px;
    height: 32px;
}
.qq {
    color: black;
    font-size: 20px;
    font-family: "微软雅黑";
}
#enter {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    font-size: 15px;
    text-align: center;
    line-height: 100px;
    background: rgba(233,270,234,0.7);
    border: 0;
}
.weixin {
    width: 200px;
    height: 200px;
    margin-top: 200px;
}
.weixin img {
    width: 200px;
    height: 200px;
}
#header {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    padding: 0;
    color: #eee;
    font-size: 20px;
    font-weight: bold;
    background: black;
    opacity: 0.9;
    
}
#header .ul1 {
    display: flex;
  
    padding-bottom: 10px;
    align-items: center;
}
#header .ul1 li {
    flex: 1;
    list-style: none;
    display: flex;
    color: white;
  align-items: center;
   margin-bottom:20px;
}
.ul1 .line1 {
    align-items:center;
    margin-left: 10px;
    line-height: 45px;
}
.ul1 .line2 {
    align-items: center;
     text-align: center;
      flex:3;
    line-height: 45px;
    margin-left: -60px;
   
}


.footer {
    display: flex;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0;
    background: black;
    justify-content: center;
}
.footer .skills {
    width: 30px;
    background: black;
    opacity: 0.9;
    flex: 1;
    align-content: center;
    text-align: center;
    line-height: 48px;
    border: 1px solid #444;
    border-radius: 10px;
}
.wrapper {
    position: absolute;
    z-index: 1;
    top: 45px;
    bottom: 48px;
    left: 0;
    width: 100%;
    overflow: hidden;
    display: none;
    &:first-child{
        display: block;
    }
}
.wrapper-1 {
    background: url('../images/img1.jpg') no-repeat;
    background-size: 100% 100%;
}
.wrapper-2 {
    background: url('../images/img3.jpg') no-repeat;
    background-size: 100% 100%;
}
.wrapper-3 {
    background: url('../images/img4.jpg') no-repeat;
    background-size: 100% 100%;
}
.wrapper-4 {
    background: url('../images/img2.jpg') no-repeat;
    background-size: 100% 100%;
}

.scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}



#scroller4 {
    display: flex;
}
#scroller4 div {
    flex: 1;
    flex-direction: column;
}
.myimg {
    width: 150px;
    height: 150px;
    
    margin: 20px auto;
}
.myimg img{
    width: 150px;
    height: 150px;
}
.myname {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    width: 100px;
    margin: 10px auto;
}
.aboutme {
    border-bottom: 1px solid white;
    text-align: center;
    width: 200px;
    font-size: 20px;
    animation: mm 5s linear alternate infinite;
    margin: 10px auto;
}
.jianjie {
    width: 250px;
    height: 150px;
    background: black;
    opacity: 0.8;
    margin: 30px auto;
    border-radius: 10px;
    display: flex;
    color: white;
    flex-direction: column;
}
.myage {
    flex: 1;
    color: white;
    font-size: 16px;
    margin-top: 8px;
    font-family: "微软雅黑";
    margin-left: 10px;
}
.myskills {
    color: white;
    font-size: 18px;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    animation: mm 5s linear alternate infinite;
}
.skill1 {
    width: 150px;
    height: 150px;
    background: url('../images/star.png') no-repeat;
    overflow: hidden;
    
    position: relative;
    display: flex;
    flex-direction: column;
}
.skill_1 {
    margin-top: -20px;
    flex: 1;
}
.fixed1 {
    position: absolute;
    top: 25px;
    left: 40px;
    width: 100px;
    color:white;
    opacity: 0.8;
    font-size: 12px;
    font-family: "微软雅黑";
}
.fixed2 {
    position: absolute;
    top: 116px;
    left: 200px;
    width: 100px;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    font-family: "微软雅黑";
}
.fixed3 {
    position: absolute;
    top: 210px;
    left: 40px;
    width: 100px;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    font-family: "微软雅黑";
}
.fixed4 {
    position: absolute;
    top: 291px;
    left: 200px;
    width: 100px;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    font-family: "微软雅黑";
}
.fixed5 {
    position: absolute;
    top: 360px;
    left: 30px;
    width: 100px;
    color: white;
    opacity: 0.8;
    font-size: 12px;
    font-family: "微软雅黑";
}
.skill_2 {
    margin-left: 150px;
    margin-top: -70px;
}
.skill_3 {
    margin-top: -70px;
}
.skill_4 {
    margin-left: 150px;
    margin-top: -70px;
}
.skill_5 {
    margin-top: -70px;
}
#scroller2 {
    display: flex;
    flex-direction: column;
}
.myproject {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    text-align: center;
    color: white;
    margin-top: 10px;
   
}
@keyframes mm {
    0% {
        margin-left: -50px;
    }
    50% {
        margin-left: 100px;
    }
    100% {
        margin-left: 150px;
    }
}
@keyframes mm1 {
    0% {
        margin-left: 0px;
    }
    50% {
        margin-left: 50px;
    }
    100% {
        margin-left: 100px;
    }
}
@keyframes mm2 {
    0% {
        margin-left:130px;
    }
    50% {
        margin-left: 200px;
    }
    100% {
        margin-left: 220px;
    }
}
.xiangmu1 {
    width: 100px;
    height: 100px;
    border: 1px dashed orangered;
    margin-top: 10px;
    margin-left: 5px;
     border-radius:50px ;
      animation: mm1 5s linear alternate infinite;
}
.project1 img {
    width: 100px;
    height: 100px;
    border-radius:50px ;
}
.project-product1 {
    width: 200px;
    font-size: 12px;
    border: 1px solid white;
    background: black;
    opacity: 0.7;
    margin-left: 5px;
}
.xiangmu2 {
    width: 100px;
    height: 100px;
    border: 1px dashed orangered;
    margin-top: 10px;
    margin-left: 150px;
    border-radius: 50px;
     animation: mm2 5s linear alternate infinite;
}
.project2 img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.project-product2 {
    width: 200px;
    height: 100px;
    font-size: 12px;
    border: 1px solid white;
    background: black;
    opacity: 0.7;
    margin-left: 5px;
    margin-left: 110px;
}
.myexperence{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color:white;
    margin-top: 10px;
   
}
#scroller3{
  
}
.mywork{
    width: 200px;
    height: 150px;
    border: 1px solid white;
    margin-left: 10%;
    margin-top: 10%;
   
}
.mywork1{
    width: 200px;
    height: 150px;
    border: 1px solid white;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    margin-left:10%;
    margin-top: 10%;
    margin:20% auto;
   
}
